.post{
    color:white;
    .header-background{
        padding-top:112px;
        background-size:cover;
        background-position:center center;

        .title-wrapper{
            min-height:60vh;
            max-width:1200px;
            position:static;
            
            display:grid;
            grid-template-columns: 55% auto;

            margin-left:auto;
            margin-right:auto;

            .inner-wrapper{
                padding-left:20px;
                max-width:100%;
                margin-top:190px;
            }

            h1{
                color:$lightBlue;
                text-shadow:none;
                margin-bottom:24px;
                font-weight:400;
                font-family: Alata,sans-serif;
                font-size: 2rem;
                line-height: 1.25;

                @media only screen and (min-width:768px){
                    font-size: 3rem;
                    line-height: 1.18;
                }
                @media only screen and (min-width:992px){
                    font-size: 4rem;
                    line-height: 1.125;
                }
            }
                      
            p{
                padding:0;
                font-family: Open Sans,sans-serif;
                font-size:18px;
                text-align: center;
            }

            .sub-header{
                margin-top: 1.5rem;
                font-size: 1.125rem;
                @media only screen and (min-width:62em){
                    font-size: 1.375rem;
                }
               
            }
        }
    }

    .content-section{
        max-width:1160px;
        padding-left:20px;
        padding-right:20px;
        display:grid;
        grid-template-columns: minmax(0,680px);
        margin-left:auto;
        margin-right:auto;
        margin-top:60px;
        margin-bottom:80px;

        .quick-details-box{
            background:rgba(255,255,255,.2);
            padding:20px;
            .fa-users{
                padding-right:6px;
            }

            .fa-clock-o{
                padding-right: 6px;
                font-size: 21px;
            }

            .fa-paw{
                padding-right: 5px;
                font-size: 20px;
            }

            .fa-anchor{
                font-size: 19px;
                padding-right: 5px;
            }
            h4{
                font-family: Alata,sans-serif;
                font-size:16px;
                font-weight:400;
                line-height:16px;
                margin-top:0;
                text-shadow:0 1px 0 rgba(255,255,255,.5);
                margin-bottom:16px;
            }

            p,span,strong{
                font-family: Open Sans,sans-serif;
                font-size: 16px;
                line-height: 1.5;
            }
        }

        ul{
            ul{
                margin:0;
                list-style: disc;
            }
        }

        hr{
            margin-top:40px;
        }

        table, tr, td{
            border:1px solid white;
            border-collapse: collapse;
        }

        tr:nth-of-type(1){
            text-align:center;
        }
        
        td{
            padding: 8px 16px 7px;
            font-family: Open Sans,sans-serif;
            font-size: 16px;
            line-height: 16px;
            max-width:90px;
        }

        ul{
            margin-top:16px;
            padding-left:20px;
            color:white;

            li{
                font-size:16px;
                font-family: Open Sans, sans-serif;
                line-height:24px;
            }
        }

        //Fonts
        h1{
            font-size:32px;
            line-height:1.25;
            color:$darkBlue;
            font-family: Alata,sans-serif;
        }

        h2{
            font-weight:400;
            color:$darkBlue;
            font-family: Alata,sans-serif;
            margin-top:30px;
        }

        h3{
            font-size: 24px;
            line-height: 1.25;
            margin:40px 0 0 0;
            font-weight:400;
            color:white;
            color:$darkBlue;
            font-family: Alata,sans-serif;
        }
        
        p{
            font-family: Open Sans, sans-serif;
            font-size: 16px;
            line-height: 24px;
            margin-top:16px;
            margin-bottom:0;
            font-size:16px;
            line-height:24px;   
            color:white; 
            
            &:first-child{
                margin-top:0;
            }
        }

        @media only screen and (min-width:768px){       
            h1{
                font-size:48px;
                line-height:1.18;
            }
            h2{
                font-size:32px;
                line-height:1.25;
            } 
            h3{
                font-size: 28px;
                line-height: 1.25;
            }
        }
    
        @media only screen and (min-width:992px){
            h1{
                font-size:64px;
                line-height:1.125;
            }
            h2{
                font-size:40px;
                line-height: 1.2;
            }        
            h3{
                font-size:32px;
                line-height:40px;
            }   
        }
    }

//     .booking-side-bar{
//         position:absolute;
        
//   }
}