.page .sp-easy-accordion{
    h2{
        margin: 0;
        line-height: 0;
    }
   
    .ea-body{
        p{
            margin:0;
            color:black;
        }
    }
    button{
        //padding-bottom:0px;
    }
    // .accordion-item:last-of-type{
    //     // button{
    //     //     padding-bottom:21px;
    //     // }
    // }
}