.daily-slip-rentals{
    .header-background{
        
        background: linear-gradient(0deg,rgba(8,9,14,0.6) 0%,rgba(8,9,14,0.6) 100%), url('./assets/images/daily-slip-rental-header.avif');
        padding-top:112px;
        background-size:cover;
        background-position:center center;
        display:block;
        min-height:0;

        .title-wrapper{
            min-height:60vh;
            max-width:1200px;
            position:static;
            
            display:flex;
            flex-direction:column;
            justify-content: center;

            margin-left:auto;
            margin-right:auto;

            .inner-wrapper{
                padding-left:20px;
                max-width:100%
            }

            h1{
                color:$lightBlue;
                text-shadow:none;
            }
                      
            p{
                padding:0;
                font-family: Open Sans,sans-serif;
                font-size:18px;
                text-align: center;
            }
        }

        @media only screen and (min-width:992px){
            padding-top:128px;
            .title-wrapper{
                .inner-wrapper{
                    max-width:660px;
                }
                p{
                    text-align: left;
                    font-size:22px;
                }
            }
        }   
    }

    .lower-section{
        max-width:1200px;
        margin-left:auto;
        margin-right:auto;
        padding-left:20px;
        padding-right:20px;
        padding-top:40px;
        padding-bottom:40px;

        h2{
            margin:0;
            margin-top:75px;
            font-family: Alata,sans-serif;
            color:white;
        }
        p{
            font-family: Open Sans,sans-serif;
            color:white;
            margin-top:16px;
            padding:0;
        }
        hr{
            max-width:680px;
            margin:0;
            margin-top:40px; 
        }

        .price-box{
            display:none;
        }

        @media only screen and (max-width:768px){
            .price-box{
                display:block;
                border: 1px solid $tintedWhite;
                background-color:rgba(245,247,249,.1);
                padding: 15px 16px 13px;
                display:flex;
                justify-content: space-between;
            }
            hr{
                max-width:100vw;
            }
        }

        
    }

    
}