.general-page{

    font-family: Alata, sans-serif;
    color:white;
    .title-header{
        padding-top:208px;
        background-position:center center;
        background-repeat: no-repeat;
        background-size: cover;

        display:flex;
        justify-content: center;
        align-items: center;
        
    }

    .title-wrapper{
        position:relative;
        bottom:47px;
        text-shadow: 1px 1px 2px black, 0 0 10px black;
    };
    
    .price-title{
        font-size:14px;
        font-family: Open Sans,sans-serif;
        line-height:1.5;
        color:white;
    }

    .price-symbol{
        font-size:12px;
        font-family: Open Sans,sans-serif;
        margin-right:1px;
        color:white;
        font-weight:700;
        position: relative;
        left: 4px;
        bottom: 1px;
    }

    .item-price{
        font-family: Open Sans,sans-serif;
        color:white;
        font-size:16px;
        font-weight:700;
    }

    .center-image-wrapper{
        text-align: center;
    }
    
    h1{
        color:white;
        font-size:64px;
        margin-bottom:24px;
        font-weight:400;
        line-height:72px;
    }

    .lower-section-posts,.lower-section{
        padding-bottom:80px;
        padding-top:80px;
        max-width:1200px;
        margin-left:auto;
        margin-right:auto;
    }

    .lower-section{
        max-width:1160px;
        padding-left:20px;
        padding-right:20px;
    }

    .lower-section-posts{
        p{
            padding-left:100px;
            padding-right:100px;
        }
    }


    .section-before-posts{
        text-align:center;
        font-family: Open Sans,sans-serif;
    }

    //Fonts
    h1{
        font-size:32px;
        line-height:1.25;
    }

    h2{
        font-weight:400;
    }

    h3{
        font-size: 24px;
        line-height: 1.25;
        margin:24px 0 0 0;
        font-weight:400;
        color:white;
    }
    
    p{
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        line-height: 24px;
        margin-top:16px;
        margin-bottom:0;
        font-size:16px;
        line-height:24px;   
        color:white; 
        
        &:first-child{
            margin-top:0;
        }
    }

    ul{
        margin-top:16px;
        padding-left:20px;
        color:white;

        li{
            font-size:16px;
            font-family: Open Sans, sans-serif;
            line-height:24px;
        }
    }

    //some responsiveness

    // The background at the top of pages
    @media only screen and (min-width:544px){
        .header-background{
        min-height:440px;
        }
    }

    @media only screen and (min-width:992px){
        .header-background{
        min-height:577px;
        }
    }

    @media only screen and (min-width:768px){       
        h1{
            font-size:48px;
            line-height:1.18;
        }
        h2{
            font-size:32px;
            line-height:1.25;
        } 
        h3{
            font-size: 28px;
            line-height: 1.25;
        }
    }

    @media only screen and (min-width:992px){
        h1{
            font-size:64px;
            line-height:1.125;
        }
        h2{
            font-size:40px;
            line-height: 1.2;
        }           
    }
    

}