.more-attractions{
    .header-background{
        background-image:url('./assets/images/more-attractions-header.avif');
    }

    .lower-section{
        .image-description-wrapper{
            display:grid;
            grid-template-columns: minmax(290px,360px) minmax(621px, auto);
            grid-column-gap: 40px;
            padding-top:40px;

            @media only screen and (max-width:992px){
                grid-template-columns:minmax(344px,455px) minmax(344px,455px);
            }

            @media only screen and (max-width:768px){
                grid-template-rows:auto auto;
                grid-template-columns:auto;
                .image-wrapper{
                    max-width:400px;
                    margin-left:auto;
                    margin-right:auto;
                }

                h3{
                    margin-top:24px;
                }
            }
           
            .image-wrapper{
                img{
                    width:100%;
                    height:auto;
                }
            }
        }
    }

    h2,h3{
        color:$darkBlue;
    }
    h2{
        margin-bottom:0;
    }
    h3{
        margin-top:0;
    }

    
}