@import './includes/contact-page.scss';

.page{
    color:white;
    a{
        text-decoration: underline;
        font-weight:700;
        color:white;
    }
    // The background at the top of pages
    .header-background{
        margin-bottom:80px;
    }
    @media only screen and (min-width:544px){
        .header-background{
            min-height:440px;
        }
    }

    @media only screen and (min-width:992px){
        .header-background{
            min-height:577px;
        }
    }

    .title-header{
        padding-top:208px;
        background-position:center center;
        background-repeat: no-repeat;
        background-size: cover;
        display:flex;
        justify-content: center;
        align-items: center;  
    }

    .title-wrapper{
        position:relative;
        bottom:47px;
        text-shadow: 1px 1px 2px black, 0 0 10px black;
    };

    .content-section{
        max-width:1200px;
        padding-left:20px;
        padding-right:20px;
        padding-bottom:80px;
        margin-left:auto;
        margin-right:auto;
    }

    .category-header{
        padding-left:100px;
        padding-right:100px;
    }

    .grid{
        display:grid;
    }
    .grid-fify-fifty-columns{
        grid-template-columns: 50% 50%;
        div{
            padding-left:20px;
            padding-right:20px;
        }
    }
    @include contact-page;

    .center-image-wrapper{
        text-align: center;
    }
    
    .grid-one-row{
        grid-template-rows:auto;
    }

    @include social-media-icon-styles;

    .acordion-wrapper{
        .accordion-header{
            color:#2f7bbb;
            margin-bottom:24px;
            text-transform:uppercase;
            margin-top:80px;
        }
    }

    .descriptions{
        p:nth-child(3){
            margin-top:28px;
        }
    }

    .button-1{
        background:#2f7bbb;
        color:white;
        padding:13px 19px;
        text-decoration: none;
        font-weight:400;
        text-transform: uppercase;
        font-size:16px;

        br{
            display:none;
        }

    }

    .social-wrapper{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        width: 30%;
        grid-template-rows: 47px;
        grid-column-gap: 16px;
        margin-top: 43px;

        .custom-facebook{
            background:none;
            border:none;
            color:#31353c;
            
            .facebook-icon{
                top:0;
                right:0;
                font-size: 37px;
            }

            &:hover{
                background-color:$facebookIconHoveredColor;
            }
        }

        .instagram-icon{
            color:#31353c;
        }

        .twitter-icon{
            color:#31353c;
        }
        
    }
}

.page.no-thumbnail{
    padding-top:167px;
}

.page{
    font-family: Open Sans, sans-serif;
    h1,h2,h3,h4{
        font-family: Alata, sans-serif;
    }
    p{
        margin-top:16px;
        margin-bottom:0;
        font-size:16px;
        line-height:24px;   
        color:white; 
        
        &:first-child{
            margin-top:0;
        }
    }

    //Fonts
    h1{
        font-size:32px;
        line-height:1.25;
        font-weight:400;
        margin:0;
    }

    h2{
        font-size:1.5rem;
        font-weight:400;
        line-height:1.2;
        margin:24px 0 0 0;
    }

    h3{
        font-size: 24px;
        line-height: 1.25;
        margin:24px 0 0 0;
        font-weight:400;
        color:white;
    }

    h4{
        font-size: 24px;
        line-height: 1.25;
        margin:0;
        font-weight:400;
        line-height:32.4px;
        color:white;
    }

    @media only screen and (min-width:768px){       
        h1{
            font-size:48px;
            line-height:1.18;
        }
        h2{
            font-size:32px;
            line-height:1.25;
        } 
        h3{
            font-size: 28px;
            line-height: 1.25;
        }
    }

    @media only screen and (min-width:992px){
        h1{
            font-size:64px;
            line-height:1.125;
        }
        h2{
            font-size:40px;
            line-height: 1.2;
        }           
    }

    @media only screen and (min-width:$firstBreakPoint){
        .about-us-slider{
            display:none;
        }
    }

    @media only screen and (max-width:$firstBreakPoint){
        .about-us-gallery{
            display:none;
        }
        .grid-fify-fifty-columns{
            display:block;
        }
    }
}