.rv-and-camping{
    .header-background{
        background: linear-gradient(0deg,rgba(8,9,14,0.6) 0%,rgba(8,9,14,0.6) 100%), url('./assets/images/RV-and-camping-header.avif');
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        min-height:0;
        height:72px;
        padding-bottom:80px;

        .title-wrapper{
            top:101px;
        }

        @media only screen and (max-width:768px){
            padding-top:152px;
            padding-bottom:40px;
            height:40px;

            .title-wrapper{
                top:0;
                display:block;
                min-height:0;
            }
        }

        @media only screen and (max-width:544px){
            padding-top:210px;
        }
    }
}