#wpadminbar .quicklinks .menupop ul li#wp-admin-bar-wpaas-whats-new a,
#wpadminbar .quicklinks .menupop ul li#wp-admin-bar-wpaas-whats-new a strong,
#wpadminbar .quicklinks .menupop.hover ul li#wp-admin-bar-wpaas-whats-new a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li#wp-admin-bar-wpaas-whats-new a
{
    color: #ffffff;
    background: #5AA56D;
}
#wp-admin-bar-wpaas > .ab-item {
    position: relative;
}

#wp-admin-bar-wpaas > .ab-item::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 8px;
    height: 8px;
    background: #5AA56D;
    border-radius: 50%;
}
