$giftCardBackground: #2f7bbb;
$headerBackground: #262626;
$headerNavListColor: #ffff;
$giftCardColor: #ffff;
$headerNavSubMenuBGColor:#2f7bbb;
$headerSubMeduHoverredColor:#256092;;
$headerMobileColor:#ffe469;
$bodyBackgroundColor:#262626;

$footerTextColor: #ffff;
$footerH3Color:#d6e7f5;
$socialMediaIconColor:#d2d2d2;
$facebookIconHoveredColor:#8b9dc3;
$instagramIconHoveredColor:#e1306c;
$twitterIconHoveredColor:#1da1f3;

$darkBlue:#2f7bbb;;