.cursor-default{
    cursor:default !important;
}

.display-inline-block{
    display:inline-block !important;
}

.disable-overflow-y{
    overflow-y: hidden !important;
}

.upper-case-text{
    text-transform: uppercase !important;
}