.main-footer{
    width:100vw;
    color:$footerTextColor;
    
    .upper-footer{       
        
        padding: 80px 0 80px 21px;background: linear-gradient(0deg,rgba(8,9,14,0.9) 0%,rgba(8,9,14,0.7) 100%), url('./assets/images/lake.jpg');
        background-position: center center;
        background-size:cover;

        .social-wrapper{
                    
            display:grid;
            grid-template-columns:auto auto auto;
            grid-column-gap: 16px;
            margin-top:43px;
            margin-left:3px;

            .custom-facebook {
                display: inline-block;
                overflow: hidden;
                width: 32px;
                height: 32px;
                text-align: right;
                background-color: $socialMediaIconColor;
                border:1px solid black;
                border-radius:2px;

                .facebook-icon{
                    position: relative;
                    font-size: 22px;
                    top: 6px;
                    right: 4px;
                    font-size: 29px;
                    color:black;
                }
            }

            .custom-facebook:hover{
                background-color:$facebookIconHoveredColor;
            }

            .instagram-icon{
                font-size: 38px;
                position: relative;
                bottom: 2px;     
                color:$socialMediaIconColor;

                &:hover{
                    color:$instagramIconHoveredColor;
                }
            }

            .twitter-icon{
                font-size: 44px;
                position: relative;
                bottom:4px;
                color:$socialMediaIconColor;

                &:hover{
                    color:$twitterIconHoveredColor;
                }
            }                    
        }

        .footer-columns-wrapper{
            margin:0 auto;
            max-width:1200px;
            display:grid;
            grid-template-columns: repeat(4, minmax(0,260px));
            grid-column-gap:40px;
            grid-template-rows:auto;
            

            .column{
                h3{
                    
                    font-size:32px;   
                    line-height:40px;
                }
                h4{
                    font-size:24px;
                    line-height:32.4px;
                }
                h3,h4{
                    color:$footerH3Color;
                    margin-top:0;
                    margin-bottom:24px;
                    font-weight:400;
                    font-family: Alata,sans-serif;
                    
                }
                
                ul{
                    list-style:none;
                    padding:0;
                    font-family: Open Sans,sans-serif;
                    line-height:24px;
                    font-size:16px;
                }
            }
            
            .column:nth-child(1){
                display:flex;
                align-items: center;
                flex-direction: column;
            }

            .column:nth-child(2){
                ul{
                    i{
                        height:24px;
                        width:24px;
                    }
                    
                    li:nth-of-type(n+2){
                        margin-top:16px;
                    }
                    li:nth-of-type(4){
                        margin-top:24px;
                    }

                    .list-grid{
                        display:grid;
                        grid-template-columns: 24px minmax(0,220px);
                        grid-column-gap: 16px;
                        text-decoration: none;

                        i,span{    
                            color:$footerTextColor;
                        }

                        span{
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }

                    .last-list-grid{
                        span{
                            grid-column-start:2;
                            //doing this to remove the underline that is created from the &hover above
                            &:hover{
                                text-decoration:none;
                            }
                        }
                    }

                    .phone-contact{
                        .phone-icon{
                            font-size:30.6px;          
                        }
                    }
                    

                    .envelope-icon{
                        font-size:24px;
                    }

                    .map-icon{
                        font-size:28px;
                    }

                    .map-icon:before{
                        margin-left:4px;
                    }
                }
            }

            .column:nth-child(3){
                ul{ 
                   li{
                       a{
                           color:$footerTextColor;
                           text-decoration: none;

                           &:hover{
                               text-decoration: underline;
                           }
                       }
                   }
                }
            }

            .column:nth-child(4){
                ul{ 
                   margin:24px 0;
                   
                   li{
                        a{
                            color:$footerTextColor;
                            text-decoration: none;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                   }
                }

                .recreation-image{
                    margin-bottom:16px;
                }
            }
        }
    }
}