
@mixin navMenuInitialStateTransition{
    webkit-transform: scale(.9) translateY(-10px);
    -ms-transform: scale(.9) translateY(-10px);
    transform: scale(.9) translateY(-10px);

    opacity: 0;
    -webkit-transition: .15s all cubic-bezier(.58,.3,.51,.82);
    -o-transition: .15s all cubic-bezier(.58,.3,.51,.82);
    transition: .15s all cubic-bezier(.58,.3,.51,.82);
}

@mixin navMenuOpenedStateTransition{
    opacity:1;
    -webkit-transform: scale(1) translateY(0); 
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);    
}

.mobile-nav-bar{
    @mixin paddingForMenuHighestLevel{
        padding:16px 0 16px 20px;;
    }

    

    width:100vw;
    background:$headerNavSubMenuBGColor;
    color:$headerNavListColor;
    position:absolute;
    z-index:1;
    
    @include navMenuInitialStateTransition;

    a{
        text-decoration:none;
    }
    
    ul{
        list-style:none;
        padding-left:0;
       
        ul{
            padding-left:0;
        }
        .cursor-default{
            padding-left:0;
            

            .item-title{
                @include paddingForMenuHighestLevel;
                display:inline-block;
                width:100%;
            }
        }
        
        .no-v-anchor{
            @include paddingForMenuHighestLevel;
            display:inline-block;
            width:100%;
        }

        li{
            @include liStyleSubMenu;
            padding:0;
            

            &:hover{
                @include vIconChangeTo;
            }

            .sub-menu{
                display:none;
                li{
                    padding:0;
                    font-size:14px;
                    
                    a{
                        display:inline-block;
                        width:100%;
                        padding:8px 0;
                        padding-left:30px;

                        &:hover{
                            background:$headerSubMeduHoverredColor;
                            text-decoration: underline;
                        }
                    }
                }
                li:last-child{
                    padding-bottom:0;
                }
            }
        }

        .v-icon{
            right:26px;
        }
    }

    a{
        color:$headerNavListColor;
    }
}

.nav-menu-transition{
    @include navMenuOpenedStateTransition();
}