.main-header{
    @media only screen and (max-width: 1133px){
        #header-full-width-nav-menu{
            display:none;
        }
    }

    @media only screen and (min-width: 1133px),
                screen and (max-width: 1037px){
        #header-first-break-point-nav-menu{
            display:none;
        }
    } 

    @media only screen and (min-width: 1037px),
                screen and (max-width: 992px){
        #header-second-break-point-nav-menu{
            display:none;
        }
    } 

    //hamburger menu

    

    .hamburger-menu{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-top: -1px;
        margin-right: 4px;
        margin-left: 2px;
        height: 2px;
        width: 14px;
        border-radius: 1px;
        border-radius: 1px;
        background-color: #ffe469;
        -webkit-transition: .1s all cubic-bezier(.58,.3,.51,.82);
        -o-transition: .1s all cubic-bezier(.58,.3,.51,.82);
        transition: .1s all cubic-bezier(.58,.3,.51,.82);

        &:before{
            top: -6px;
            width: 20px;
            background-color: inherit;
            border-radius: 1px;
            content: '';
            height: 100%;
            position: absolute;
            right: 0;
            -webkit-transition: .1s all cubic-bezier(.58,.3,.51,.82);
            -o-transition: .1s all cubic-bezier(.58,.3,.51,.82);
            transition: .1s all cubic-bezier(.58,.3,.51,.82);
        }

        &:after{
            bottom: -6px;
            width: 18px;

            background-color: inherit;
            border-radius: 1px;
            content: '';
            height: 100%;
            position: absolute;
            right: 0;
            -webkit-transition: .1s all cubic-bezier(.58,.3,.51,.82);
            -o-transition: .1s all cubic-bezier(.58,.3,.51,.82);
            transition: .1s all cubic-bezier(.58,.3,.51,.82);
        }
    }
}