.main-footer{
    .upper-footer{
        @media only screen and (max-width:992px){
            .footer-columns-wrapper{
                grid-template-rows: auto auto;
                grid-template-columns: 45% 50%;
                // .column:nth-child(1){
                //     order:4;
                // }
                .column:nth-child(2){
                    ul{
                        .list-grid{
                            grid-template-columns: 24px minmax(0, 420px);
                        }
                    }
                    
                }
                // .column:nth-child(3){
                //     order:3;
                // }
                // .column:nth-child(4){
                //     order:1;
                // }
            }
        }

        @media only screen and (max-width:767px){
            .footer-columns-wrapper{
                grid-template-rows:auto auto auto;
                grid-template-columns:auto;
                .column{
                    h3{
                    font-size:24px;
                    }
                }
                .column:nth-child(1){
                    display:none;
                }
                .column:nth-child(2){
                    order:3;
                }
                .column:nth-child(3){
                    order:1;
                }
                .column:nth-child(4){
                    order:2;
                    .recreation-image{
                        display:none;
                    }
                }
            }
        }
    }
}