.main-header{
    @media only screen and (max-width: 1133px){
        #header-full-width-nav-menu{
            display:none;
        }
    }

    @media only screen and (min-width: 1133px),
                screen and (max-width: 1037px){
        #header-first-break-point-nav-menu{
            display:none;
        }
    } 

    @media only screen and (min-width: 1037px),
                screen and (max-width: 992px){
        #header-second-break-point-nav-menu{
            display:none;
        }
    } 


    @media only screen and (max-width:991px){
        .nav-bar{
            .inner-nav-bar-wrapper{
                display:flex;
                justify-content: space-between;

                .logo-anchor{
                    .logo{
                        width:98px;
                    }
                }

                .hamburger-menu-wrapper{
                    align-self:center;
                    position:relative;
                    bottom:4px;
                    right:12px;
                    opacity:1;
                    -webkit-transition: 0.1s all cubic-bezier(0.58, 0.3, 0.51, 0.82);
                    -o-transition: 0.1s all cubic-bezier(0.58, 0.3, 0.51, 0.82);
                    transition: 0.1s all cubic-bezier(0.58, 0.3, 0.51, 0.82);
                    cursor: pointer;
                    
                    .hamburger-label{
                        color:$headerMobileColor;
                        font-family: Arial;
                        font-size:12px;
                        font-weight:bold;
                        margin-right:10px;
                        
                    }

                    &:hover{
                        opacity:0.8;
                    }
                }
            }
        }
    }

    //hamburger menu

    

    .hamburger-menu{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-top: -1px;
        margin-right: 4px;
        margin-left: 2px;
        height: 2px;
        width: 14px;
        border-radius: 1px;
        border-radius: 1px;
        background-color: #ffe469;
        -webkit-transition: .1s all cubic-bezier(.58,.3,.51,.82);
        -o-transition: .1s all cubic-bezier(.58,.3,.51,.82);
        transition: .1s all cubic-bezier(.58,.3,.51,.82);

        &:before{
            top: -6px;
            width: 20px;
            background-color: inherit;
            border-radius: 1px;
            content: '';
            height: 100%;
            position: absolute;
            right: 0;
            -webkit-transition: .1s all cubic-bezier(.58,.3,.51,.82);
            -o-transition: .1s all cubic-bezier(.58,.3,.51,.82);
            transition: .1s all cubic-bezier(.58,.3,.51,.82);
        }

        &:after{
            bottom: -6px;
            width: 18px;

            background-color: inherit;
            border-radius: 1px;
            content: '';
            height: 100%;
            position: absolute;
            right: 0;
            -webkit-transition: .1s all cubic-bezier(.58,.3,.51,.82);
            -o-transition: .1s all cubic-bezier(.58,.3,.51,.82);
            transition: .1s all cubic-bezier(.58,.3,.51,.82);
        }
    }
}