$giftCardBackground: #2f7bbb;
$headerBackground: #262626;
$headerNavListColor: #ffff;
$giftCardColor: #ffff;
$footerTextColor: #ffff;
$footerH3Color:#d6e7f5;

$socialMediaIconColor:#d2d2d2;
$facebookIconHoveredColor:#8b9dc3;
$instagramIconHoveredColor:#e1306c;
$twitterIconHoveredColor:#1da1f3;


//This is that V icon
.v-icon {
    color: white;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 2px;
    height: 8px;
  }
  
  .v-icon:before {
    content: '';
    position: absolute;
    top: 10px;
    width: 2px;
    height: 8px;
    left:5px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .v-icon:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 2px;
    height: 8px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    
  }
  
  
html{
    overflow-x:hidden;
}
body{
    padding:0;
    margin:0;
}
.main-header{
    font-family: Alata,sans-serif;
    .gift-card{
        background:$giftCardBackground;
        color:$giftCardColor;
        height:40px;
        width:100vw;
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:16px;
    }

    .nav-bar{
        padding-top:14px;
        padding-bottom:20px;
        background:$headerBackground;
        
        .inner-nav-bar-wrapper{
            margin-left:auto;
            margin-right:auto;
            max-width:1160px;
            display:grid;
            grid-template-columns: 196px minmax(0px,964px);
            padding : 0 20px;

            .logo{
                max-height:88px;
            }

            .nav-list-wrapper{
                width:100%;;
                display:flex;
                align-items: center;
                justify-content: end;
            
                .nav-list{
                    display:flex;
                    flex-direction:row;
                    list-style: none;
                    color:$headerNavListColor;
                    
                    padding:0;
                    margin:0;
                    height:60px;

                    li{
                        display:flex;
                        padding:22px 32px 22px 12px;
                        font-family: Open Sans,sans-serif;
                        
                        //needed to position the icon correctly
                        .v-icon{
                            position:relative;
                            bottom: 2px;
                            left: 10px;
                        }
                    }

                    .current-page{
                        font-weight:700;
                    }
                    
                }
            }
        }
    }
}

.main-footer{
    width:100vw;
    color:$footerTextColor;
    
    .upper-footer{   
        width:100vw;
        height:334px;     
        background: linear-gradient(0deg,rgba(8,9,14,0.9) 0%,rgba(8,9,14,0.7) 100%), url('/wordpress/wp-content/themes/New-Melones-Lake-Marina/assets/images/lake.jpg');
        padding: 80px 0 80px 21px;
        background-position: center center;
        background-size:cover;

        .footer-columns-wrapper{
            margin:0 auto;
            max-width:1200px;
            display:grid;
            grid-template-columns: repeat(4, 260px);
            grid-column-gap:40px;
            grid-template-rows:auto;

            .column{
                h3{
                    
                    font-size:32px;   
                    line-height:40px;
                }
                h4{
                    font-size:24px;
                    line-height:32.4px;
                }
                h3,h4{
                    color:$footerH3Color;
                    margin-top:0;
                    margin-bottom:24px;
                    font-weight:400;
                    font-family: Alata,sans-serif;
                    
                }
                
                ul{
                    list-style:none;
                    padding:0;
                    font-family: Open Sans,sans-serif;
                    line-height:24px;
                    font-size:16px;
                }
            }
            
            .column:nth-child(1){
                display:flex;
                align-items: center;
                flex-direction: column;

                .social-wrapper{
                    
                    display:grid;
                    grid-template-columns:auto auto auto;
                    grid-column-gap: 16px;
                    margin-top:43px;
                    margin-left:3px;

                    .custom-facebook {
                        display: inline-block;
                        overflow: hidden;
                        width: 32px;
                        height: 32px;
                        text-align: right;
                        background-color: $socialMediaIconColor;
                        border:1px solid black;
                        border-radius:2px;

                        .facebook-icon{
                            position: relative;
                            font-size: 22px;
                            top: 6px;
                            right: 4px;
                            font-size: 29px;
                            color:black;
                        }
                    }

                    .custom-facebook:hover{
                        background-color:$facebookIconHoveredColor;
                    }

                    .instagram-icon{
                        font-size: 38px;
                        position: relative;
                        bottom: 2px;     
                        color:$socialMediaIconColor;

                        &:hover{
                            color:$instagramIconHoveredColor;
                        }
                    }

                    .twitter-icon{
                        font-size: 44px;
                        position: relative;
                        bottom:4px;
                        color:$socialMediaIconColor;

                        &:hover{
                            color:$twitterIconHoveredColor;
                        }
                    }                    
                }
            }

            .column:nth-child(2){
                ul{
                    i{
                        height:24px;
                        width:24px;
                    }
                    
                    li:nth-of-type(n+2){
                        margin-top:16px;
                    }
                    li:nth-of-type(4){
                        margin-top:24px;
                    }

                    .list-grid{
                        display:grid;
                        grid-template-columns: 24px 220px;
                        grid-column-gap: 16px;
                        text-decoration: none;

                        i,span{    
                            color:$footerTextColor;
                        }

                        span{
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }

                    .last-list-grid{
                        span{
                            grid-column-start:2;
                            //doing this to remove the underline that is created from the &hover above
                            &:hover{
                                text-decoration:none;
                            }
                        }
                    }

                    .phone-contact{
                        .phone-icon{
                            font-size:30.6px;          
                        }
                    }
                    

                    .envelope-icon{
                        font-size:24px;
                    }

                    .map-icon{
                        font-size:28px;
                    }

                    .map-icon:before{
                        margin-left:4px;
                    }
                }
            }

            .column:nth-child(3){
                ul{ 
                   
                }
            }

            .column:nth-child(4){
                ul{ 
                   margin:24px 0;
                }

                .recreation-image{
                    margin-bottom:16px;
                }
            }
        }
    }
}